@(userName: String, messages: List[models.Message])(implicit request: RequestHeader)

@main("Message Board") {

<div class="page-header">
    <h2> Welcome @userName</h2>
</div>

<div class="clearfix">
    <h2>Messages</h2>

    <ul>
        @messages.map( m =>
            <li>{m.sender}: {m.message}</li>
        )
    </ul>
<!--controllers.account.routes.Password.submitForgotPasswordRequest-->

    @helper.form(action = controllers.routes.MessagesController.postMessage, args = 'name -> "myForm") {
        <h3>Post a new message</h3>
        <label><input type="text" name="message" placeholder="Type your message..."></label>
        <input type="hidden" name="sender" value="@userName">
        <input type="submit" name="submit" value="Post it">
    }

    <a class="btn" href="@securesocial.controllers.routes.LoginPage.logout()">Logout</a>
</div>

}